[submodule "omero-py"]
	path = omero-py
	url = git://github.com/snoopycrimecop/omero-py
[submodule "omero-web"]
	path = omero-web
	url = git://github.com/snoopycrimecop/omero-web
[submodule "omero-marshal"]
	path = omero-marshal
	url = git://github.com/snoopycrimecop/omero-marshal
[submodule "omero-dropbox"]
	path = omero-dropbox
	url = git://github.com/snoopycrimecop/omero-dropbox
[submodule "omero-scripts"]
	path = omero-scripts
	url = git://github.com/snoopycrimecop/omero-scripts
